<strong> Olá, {{ student }}</strong>
<p>Em resposta a sua solicitação, segue abaixo:</p>
<p>
  <strong>Data solicitação: </strong> {{ date }}<br />
  <strong>Pergunta:</strong> {{ solicitation }}<br />
  <strong>Resposta: </strong> {{ response }}<br />
  <br />
  <small>
    <strong>Informações adicionais acesse nosso site Academia Gympoint</strong> <br />
    <strong>Telefone:</strong> (11) 9999-9999 <br />
    <strong>Whatsapp:</strong> (11) 9 9999-9999 <br />
  </small>
</p>
